@CHARSET "UTF-8";

.fullheight{
	height:100%;
}
.error {
	color: red;
}

.carpet {
	background-image: url("../images/bg_userpage.png");
	background-repeat: repeat;	
}

.page-content {
	padding-top: 50px;	
}
